<!DOCTYPE html>
<html lang="en-us" ng-app="aIntakeApp">
<head>
  <title>Attorney Intake</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <header>
    <nav style="background-color: #092c54;" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a style="color:#fff;" class="navbar-brand" href="#">Attorney Intake</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <p><b>Instructions:</b> Add all the companies and individuals you've given legal advice to in the past.</p>
    <h4>Add Entities</h4>
    <div ng-controller="mainCtrl">
      <form ng-submit="addName()">
        <input type="text" ng-model="enteredName">
        <input type="submit" value="add">
      </form>
      <table class="table" style="margin-top:20px">
        <thead>
          <th>Name</th><th></th>
        </thead>
        <tbody>
          <tr ng-repeat="name in names track by $index">
            <td>{{name}}</td>
            <td><a href="" ng-click="removeName(name)"> Remove</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>